<% if notice %>
  <p><%= notice %></p>
<% end %>
  <section class="main-header">
  </section>
<section class="about">
 <h1>アドレス管理DBとは</h1>
 <p>IPアドレスの利用・廃止をDBで管理するアプリケーションです。</P>
 <P>利用・廃止時に、設定用のconfigを出力します。 </p>

<%= link_to "アドレスの管理を行う", 'addresses', class: "btn btn-lg btn-primary" %>
