<% if notice %>
  <div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-warning"><%= alert %></div>
<% end %>
  <section class="main-header">
  </section>

<section class="about">
 <h1>アドレス管理DBとは</h1>
 <p>IPアドレスの利用・廃止をDBで管理するアプリケーションです。</P>
 <P>利用・廃止時に、ルータ設定用のconfigを出力します。 </p>
<%= link_to "アドレスの管理を行う", 'addresses', class: "btn btn-lg btn-primary" %>
</section>
